html, body
  margin: 0
  padding: 0
  width: 100%

html
  font-size: 24px
  text-rendering: optimizeLegibility

body
  background: #666

#output
  background: #001628
  color: #fff
  border-radius: 1rem
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.3)
  box-sizing: content-box
  max-width: 78ch
  margin: 2rem auto
  padding: 1rem
  overflow: auto
  font-family: "Operator Mono SSm A", "Operator Mono SSm B", "Operator Mono", "Source Code Pro", Menlo, Consolas, Monaco, monospace
